section{
    text-align: center;
    height: 100%;
    background-color:whitesmoke;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 13% 80% 7%;
    grid-template-columns: repeat(12,1fr)
}

header{
    grid-column: span 12;
    border: 1px solid black;
}

aside{
    grid-column: span 2;
    border: 1px solid black;
}

main{
    grid-column: span 10;
    border: 1px solid black
}

footer{
    grid-column: span 12;
    border: 1px solid black;
}