<div class="register-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="username" [(ngModel)]="userName" name='userName'/>
            <input type="password" placeholder="password" [(ngModel)]="password" name='password'/>
            <input type="email" placeholder="email" [(ngModel)]="email"name='email'/>
            <legend>Select register type
                <br>
                        <label for="item2">COMPANY||<input type="radio" name="loginType" id="item2"
                        value="COMPANY" /></label>
                        <label for="item3">CUSTOMER <input type="radio" name="loginType" id="item3"
                        value="CUSTOMER" /></label>
                    </legend>
            <button (click)=onSubmit() >REGISTER</button>
            <a routerLink="/content" routerLinkActive ="active">back to home</a>
          </form>
        </div>
      </div>
